#background {
	background-image:url(../images/o-senhor-dos-aneis-tablet.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}


#userBackground {
	background-image:url(../images/pergaminho.png);
	height:357px;
	width:500px;
	margin-top:25%;
}

#titulo {
	padding-top:30px;
	font-family:Roman;
	font-size:36px;
	text-align:center;
	width:500px;
}

#campoUsuario, #campoSenha {
	width:500px;
	padding-left:45px;
}

#usuario, #senha {
	width:85%;
	border:solid #000000 1px;
}

#btnGroup {
	padding-left:27%;
	padding-top:15px;
}

#btnCadastrar {
	margin-left:40px;
}