<!--<p>
  cadastro works!
</p>-->
<div id="background" class="row">
  <div class="col-sm-12" style="height:570px;">
    <div class="row">
      <div class="col-sm-4" style="width:90px"></div>
      <div class="col-sm-4" style="height:570px;">
        <div id="userBackground">
          <form>
              <div class="form-group" id="campoUsuario">
                <label for="usuario"><b>Nome:</b></label>
                <input type="text" class="form-control" id="usuario">
              </div>
              <div class="form-group" id="campoSenha">
                <label for="grupo"><b>Grupo:</b></label>
              <select class="form-control" id="grupo">
                <option selected="selected"></option>
                <option value="goblins">goblins</option>
                <option value="uruk-hais">uruk-hais</option>
                <option value="snagas">snagas</option>
                <option value="orcs">orcs</option>
              </select>
              </div>
              <div class="form-group" id="campoSenha">
                <label for="regiao"><b>Região:</b></label>
              <select class="form-control" id="regiao">
                <option selected="selected"></option>
                <option value="Orthanc">Orthanc</option>
                <option value="Isengard">Isengard</option>
                <option value="Rohan">Rohan</option>
              </select>
              </div>
              <div class="form-group" id="campoUsuario">
                <label for="usuario"><b>Usuário:</b></label>
                <input type="text" class="form-control" id="usuario">
              </div>
              <div class="form-group" id="campoSenha">
                <label for="senha"><b>Senha:</b></label>
                <input type="password" class="form-control" id="senha">
              </div>
            <div class="form-group" id="btnGroup">
                <button type="submit" class="btn btn-dark" id="btnSalvar">Salvar</button>
              <button (click)="voltar()" class="btn btn-dark" id="btnCadastrar">Voltar</button>
            </div>
          </form>					
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>